extends layout
block content
  .container-fluid
      .hero-img
        #carouselExampleIndicators.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
            li(data-target='#carouselExampleIndicators', data-slide-to='1')
            li(data-target='#carouselExampleIndicators', data-slide-to='2')
          .carousel-inner
            .carousel-item
              img(src="/images/first-pic.jpeg", alt="").img-flud
            .carousel-item
              img(src="/images/second-pic.jpeg", alt="").img-flud
            .carousel-item.active
              img(src="/images/third-pic.jpeg", alt="").img-flud
        .header-text.text-center
            span.top-txt All THE INFORMATION YOU WILL NEED
            hr
            span.middle-txt
              |TALK
              span#B B
              span#M M
              span#W W 
              br 
      .lower-nav
        ul
          if (user != undefined )
            if user.email == auth
              li: a(href="/display/recent/post") Most Recent
              li: a(href="/display/popular/choice") Popular
              li: a(href="/display/editor/choice") Editors Choice
              li: a(href="/display/lucky/cat") Feeling Lucky
              li: a(href="/new" style='color: red') New Post
            else
              li: a(href="/display/recent/post") Most Recent
              li: a(href="/display/popular/choice") Popular
              li: a(href="/display/editor/choice") Editors Choice
              li: a(href="/display/lucky/cat") Feeling Lucky
          else
              li: a(href="/display/recent/post") Most Recent
              li: a(href="/display/popular/choice") Popular
              li: a(href="/display/editor/choice") Editors Choice
              li: a(href="/display/lucky/cat") Feeling Lucky
      .card-section.shadow
          .container
            .row
              each entry in blog
                .col-sm-4
                  .card.shadows
                    img.card-img-top(src=`${entry.image}`, alt='...')
                    .card-body
                      h5.card-title #{entry.title}
                      p.card-text
                        | #{entry.content.substring(0,30)} ....
                      a.btn.btn-primary(href="/display/"+`${entry._id}`) Read More



    
      




