extends layout
block content   
    .new-wrapper
        .container.border-style
                h1 
                    strong  New Blog 
                form(action="/login", method="post")
                    .form-group
                        label(for="title") 
                            strong Title
                        input#title.form-control(type='text')
                    .form-group
                        label(for="sub-title") 
                            strong Sub Title
                        input#sub-title.form-control(type='text')
                    .form-group
                        label(for="image") 
                            strong Image Url
                        input#image.form-control(type='text')
                    .form-group
                        label(for="content") 
                            strong Blog Content
                        textarea#content.form-control(rows='6')
                    button.btn.btn-primary(type='submit') Submit

