body .container-fluid{
    padding: 0;
}
/********************** 

    index page style 
    
************************/
.navbar-default{
    background: white;
}
.navbar #navbarSupportedContent ul li a:hover{
    color: #007bff;
}
.navbar #navbarSupportedContent .dropdown a{
    text-transform: capitalize;
}
.hero-img{
    /* border: 2px solid red; */
    height: 22em;
    width: 100%;
}
.hero-img img{
    height: 22em;
    width: 100%;
    object-fit: cover;
    filter: blur(1px);
}
.header-text{
    position: absolute;
    color: white;
    z-index: 1;
    top: 9em;
    left: 26em;
    /* font-weight: bold; */
}
.header-text .top-txt{
    font-family: 'Bad Script', cursive;
    font-size: 1.2em;
    color: rgb(250, 246, 246);
}
.header-text hr{
    border-color: rgb(250, 246, 246);
    width: 45%;
}
.header-text .middle-txt{
    font-size: 5em;
    font-family: 'Roboto', sans-serif;
}
#B{
    color: skyblue;
    padding-left: 3%;
}
#M{
    color: darkblue;
}
#W{
    color: red;
}
#login{
    padding-right: 1%;
}
.lower-nav{
    text-align: center;
    background-color: #f1f3f5;
    /* border: 2px solid green; */
}
.lower-nav ul{
    display: inline-block;
    /* border: 2px solid orange; */
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.lower-nav ul li{
    display: inline-block;
    list-style: none;
    /* border: 2px solid purple; */
    padding: .5em 1.2em .5em 1.2em;
}
.lower-nav ul li:hover{
    background-color: white;
}
.lower-nav ul li a{
    color: black;
    font-size: 1.4em;
}
.lower-nav ul li a:hover{
    text-decoration: none;
}

/********************** 

blog post style for index
    
************************/
.card-section{
    padding: 5% 0 5% 0;
}
.card-section .col-sm-4{
    padding-bottom: 3%;
}
.card{
    border-radius: 20px;
}
.card-body{
    background-color: #f1f3f5;
}
.card img{
    height: 17em;
}
.shadows {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
 }


/********************** 

    Login page style 
    
************************/
/* .login-bg{
    background-image: url('https://images.unsplash.com/photo-1528872042734-8f50f9d3c59b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    width: 100%;
    height: 100vh;
} */
.login-wrapper{
    position: absolute;
    /* border: 2px solid red; */
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 7% 0 0 0;
    width: 35%;
    height: 60%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.border-style{
    /* border: 1px solid green; */
    width: 100%;
}
.border-style form{
    /* border: 1px solid purple; */
    width: 100%;
    padding-top: 3%;
    padding-bottom: 10%;
}
.login-wrapper form .form-group{
    padding-bottom: 3%;
}
.login-wrapper form .btn.btn-primary{
    width: 100%;
    font-size: 1.3em;
}
.fa-user-circle:before{
    position: absolute;
    font-size: 5em;
    color: #007bff;
    top: 5%;
    left: 40%;
}

/********************** 

    Register page style 

************************/
.register-wrapper{
    position: absolute;
    /* border: 2px solid red; */
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 7% 0 0 0;
    width: 35%;
    height: 70%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.row.mt-5 form .btn.btn-primary{
    width: 100%;
    font-size: 1.3em;
}
.fa-registered:before{
    position: absolute;
    font-size: 5em;
    color: #007bff;
    top: 5%;
    left: 40%;
}

/********************** 

    Display page style 
    
************************/
#bg{
    border: .1px solid white;
    background-image: url('/images/paper_fibers_@2X.png');
}
.display-wrapper{
    background-color: white;
    margin: 5% 5% 5% 5%;
    font-family: 'Roboto', sans-serif;
    border: .5px solid white;
}
.head-wrapper{
    padding: 5% 0 4% 0;
}
.hero-wrapper{
    width: 100%;
    height: 22em;
}
.hero-wrapper h5{
    padding: 4% 0 0 0;
}
.head-wrapper span{
    font-size: 1em;
    color: #6F6F6F;
}
.head-wrapper span strong{
    text-transform: capitalize;
}
.hero-wrapper img{
    object-fit: cover;
    height: 20em;
    width: 100%;
}
.article-wrapper{
    padding: 7% 0 0 0;
}
.article-wrapper p{
    padding-bottom: 4%;
}
.comment-wrapper{
    padding: 4% 0 5% 0;
}
.comment-wrapper form .form-group{
    padding: 0;
}
.comment-wrapper .btn-outline-primary{
    margin-left: 89.5%;
}
.container .comments .row{
    padding-top: 5%;
}
.container .comments .row span{
    color: blue;
    font-size: 1.1em;
    text-transform: capitalize;
}
.container .comments .row span strong{
    padding-right: 1.5%;
}

/* Right side of the comment page */

.right-wrapper{
    padding-top: 26%;
}
.right-wrapper .container .row a{
    color: white;
}
.right-wrapper .container .row a:hover{
    color: white;
    text-decoration: none;
}
.right-wrapper .container  .row .col-sm-3 .row, .right-wrapper .container  .row .col-sm-6 .row{
    padding: 3% 0 3% 0 ;
}
.right-wrapper .container  .col-sm-6 #twitter-logo{
    background-color:  #00aced;
    padding: 8% ;
}
.right-wrapper .container  .row #twitter-word{
    background-color: #0084b4;
    padding: 8% ;
}
.right-wrapper .container  .col-sm-6 #fb-logo{
    background-color: #3b5998;
    padding: 8% ;
}
.right-wrapper .container  .row #fb-word{
    background-color: #6d84b4;
    padding: 8% ;
}
.right-wrapper .container  .col-sm-6 #insta-logo{
    background-color: #fb3958;
    padding: 8% ;
}
.right-wrapper .container  .row #insta-word{
    background-color: #ffc838;
    padding: 8% ;
}
.right-wrapper .container  .col-sm-6 #pin-logo{
    background-color: #cb2027;
    padding: 8% ;
}
.right-wrapper .container  .row #pin-word{
    background-color: #7c070b;
    padding: 8% ;
}
/* lastest post for right side of display page */
.latest-post{
    padding-top: 20%;
    position: relative;
}
.latest-post .post{
    padding-bottom: 15%;
}
.latest-post .post-img{
    width: 100%;
    height: 3em;
}
.latest-post .post-img img{
    height: 5em;
    width: 100%;
    object-fit: cover;
}


/********************** 

    New page style 
    
************************/
.new-wrapper{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2% 0 0 0;
    width: 35%;
    height: 89%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

/********************** 

    Search result page style 
    
************************/
.search-page{
    border-radius: 10px;
}
.search-page .container{
    padding-top: 4%;
    color: black;
}
.search-page .container hr{
    border-color: white;
    margin-bottom: 0;
}

/************************

    Media Queries

************************/

@media screen and (min-width: 300px)  {
    .lower-nav ul li a{
        color: red;
    }
    .lower-nav{
        font-size: 40%;
    }
    .lower-nav ul{
        font-size: 1.4em;
    }
    .header-text{
        left: 4em;
        top: 11em;
    }
    .header-text .top-txt{
        font-size: .8em;
    }
    .header-text .middle-txt{
        font-size: 3em;
    }
    .shadows{
        box-shadow: none;
    }
    .card img {
        height: 12em;
    }
    .search-page h1{
        font-size: 1.7em;
    }
    .comment-wrapper .btn-outline-primary {
        margin-left: 75%;
    }
    .container .comments .row {
        padding-top: 1%;
    }
    .right-wrapper .container .col-sm-6 #twitter-logo {
        display: none;
    }
    .right-wrapper .container .col-sm-6 #fb-logo {
        display: none;
    }
    .right-wrapper .container .col-sm-6 #insta-logo {
        display: none;
    }
    .right-wrapper .container .col-sm-6 #pin-logo {
        display: none;
    }
    .latest-post {
        padding-top: 12%;
    }
    .latest-post .post-img img {
        width: 50%;
    }
    .latest-post p {
        font-size: 1.1em;
        margin-left: 70%; 
    }
    .right-wrapper {
        padding-top: 2%;
    }
    .comment-wrapper form{
        margin-bottom: 10%;
    }
    .navbar #navbarSupportedContent .dropdown a {
        padding-left: 0;
    }
    .navbar #navbarSupportedContent .dropdown .dropdown-item{
        padding-left: 3%;
    }
}

@media screen and (min-width: 600px)  {
    .lower-nav ul li a{
        color: green;
    }
    .header-text {
        left: 12em;
    }
    .header-text .top-txt {
        font-size: 1.5em;
    }
    .header-text .middle-txt {
        font-size: 4em;
    }
    .lower-nav ul {
        font-size: 2.3em;
    }
    .hero-wrapper h5 {
        font-size: 1.8em;
    }
    .article-wrapper p {
        font-size: 1.5em;
    }
    .comment-wrapper .btn-outline-primary {
        margin-left: 78%;
    }
    .comment-wrapper {
        padding: 4% 0 2% 0;
    }
    .comment-wrapper form {
        margin-bottom: 7%;
    }
    .comment-wrapper .btn-outline-primary {
        margin-left: 88%;
    }
    .latest-post .post-img img {
        width: 100%;
    }
    .latest-post p {
        font-size: 1.8em;
        margin-left: 0;
    }
    .latest-post {
        padding-top: 5%;
    }
    .right-wrapper .container .col-sm-6 #twitter-logo {
        display: block;
    }
    .right-wrapper .container .col-sm-6 #fb-logo {
        display: block;
    }
    .right-wrapper .container .col-sm-6 #insta-logo {
        display: block;
    }
    .right-wrapper .container .col-sm-6 #pin-logo {
        display: block;
    }
    .shadows {
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
     }
}

@media screen and (min-width: 1000px) {
    .lower-nav ul li a{
        color: purple;
    }
    .header-text .top-txt {
        font-size: 1.6em;
    }
    .lower-nav ul {
        font-size: 2.5em;
    }
    .right-wrapper {
        padding-top: 29%;
    }
    .latest-post p {
        font-size: 1.5em;
    }
    .header-text {
        left: 19em;
    }
}

@media screen and (min-width: 1200px) {
    .lower-nav ul li a{
        color: orange;
    }
    .header-text {
        left: 30em;
    }
    .lower-nav ul {
        font-size: 2.2em;
    }
    .header-text .top-txt {
        font-size: 1.2em;
    }
    .header-text .middle-txt {
        font-size: 4em;
    }
    .article-wrapper p {
        font-size: 1.08em;
    }
    .hero-wrapper h5 {
        font-size: 1.5em;
    }
    .right-wrapper {
        padding-top: 26%;
    }
    .comment-wrapper .btn-outline-primary {
        margin-left: 89%;
    }
    .shadows {
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
     }
}


